{% extends 'base.html.twig' %}

{% block title %}Hello RappelController!{% endblock %}

{% block body %}
    {% for date in showdoc %}
        <p> Titre du PDF: {{ date.Titre}}
        date de fin de validation : {{ date.date_fin_valid|date('d/m/Y') }}</p>
    {% endfor %}

</div>
{% endblock %}
